* {
  margin: 0;
  padding: 0;
}

/*
FORM
*/
.__form {
  display: flex;
  max-width: 200px;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid #999999;
  border-radius: 3px;
  align-items: stretch;
  padding: 10px;
  margin: 10px;
  background-color: #CCCCCC;
}

.__form_input {
  margin: 10px;
  /*border-radius: 1px;*/
  border-color: #999999;

  padding: 3px;
}


.__form_input:hover {
  border-color: #003366;
  background-color: #FFFFCC;
}

.__form__label {
  padding: 3px 0 0 10px;
  color: #666666;
}

.__form_button {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
  margin: 10px;
} 
.__form_button:hover { background: rgb(53, 167, 110); }
.__form_button:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}


/*
NAV
*/

.__nav {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}
 .__nav-item {
  min-width: 100px;
  background-color: #CCCCCC;
  text-align: center;
  padding: 5px 0;
  border: 2px solid #999999;
  border-radius: 3px;
  margin: 1px;
  color: #666666;
 }
 .__nav-item:hover {
  color: #FFFFFF;
  border-color: #666666;
  background-color: #999999;
 }


 .__nav-item__link {
  text-decoration: none;
  
 }

 @media screen and (max-width: 440px) {
   .__nav{
      flex-direction: column;
   }
   
 }
